<!doctype html>
<html lang="en" ng-app='ShoppingListCheckOff'>
  <head>
    <title>Shopping List Check Off</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="angular.min.js"></script>
    <script src="app.js"></script>
    <link rel="stylesheet" href="styles/bootstrap.min.css">
    <style>
      .emptyMessage {
        font-weight: bold;
        color: red;
        font-size: 1.2em;
      }
      li {
        margin-bottom: 7px;
        font-size: 1.2em;
      }
      li > button {
        margin-left: 6px;
      }
      button > span {
        color: green;
      }
    </style>
  </head>

<body>
  <div class="container">
    <h1>Shopping List Check Off</h1>

    <div class="row">
      <!-- To Buy List -->
      <div ng-controller='ToBuyController as toBuy' class="col-md-6">
        <h2>To Buy:</h2>
        <ul>
          <li ng-repeat="item in toBuy.items">
            Buy {{ item.quantity }} {{ item.name }}
            <button ng-click="toBuy.buy($index)" class="btn btn-default">
              <span ng-if="item.name!=='Final Fantasy XV'" class="glyphicon glyphicon-ok"></span>
              <img src="images/logo-final-fantasy.png" style="width:120px" ng-if="item.name==='Final Fantasy XV'"> Bought
            </button>
          </li>
        </ul>
        <div ng-if="toBuy.items.length == 0" class="emptyMessage">Everything is bought!</div>
      </div>

      <!-- Already Bought List -->
      <div ng-controller='AlreadyBoughtController as bought' class="col-md-6">
        <h2>Already Bought:</h2>
        <ul>
          <li ng-repeat="item in bought.items">
            Bought {{ item.quantity }} {{ item.name }}
          </li>
        </ul>
        <div ng-if="bought.items.length == 0" class="emptyMessage">Nothing bought yet.</div>
      </div>
    </div>
  </div>
</body>
</html>
